spring:
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
app:
  sms:
    from: ${SMS_FROM}
    account-sid: ${SMS_ACCOUNT_SID}
    auth-token: ${SMS_AUTH_TOKEN}
