server:
  port: 8090

spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://config-server:8088"
  cloud:
    gateway:
      routes:
        - id: user-manager
          uri: lb://user-manager
          predicates:
            - Path=/user/v1/**
          filters:
            - StripPrefix=2
      discovery:
        locator:
          enabled: true