server:
  port: 8097
spring:
  profiles:
    active: local
  application:
    name: ai-content-generator-manager
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}