server:
  port: 8087

spring:
  application:
    name: auth-manager
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}   
logging:
  level:
    org.springframework.web: INFO




